body{
  font-family: sans-serif;
  padding: 1rem;
}

.user-search-container{
  display: flex;
  position: relative;
}

.user-search-input{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:8px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.user-search-input input{
  border: none;
  font-size: 1rem;
  padding:10px 20px;
}

.user-search-input input:focus{
  outline: none;
}

.suggestions-list{
  max-height: 300px;
  overflow-y: scroll;
  list-style: none;
  padding: 25px;
  margin: 0;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
}



.suggestions-list li{
  display: flex;
  align-items: center;
  gap:10px;
  padding: 8px 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  transition: all ease 0.2s;
  overflow: hidden;
}



.suggestions-list li:hover{
  scale: 1.2;
}


.suggestions-list img{
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 25px;
}

.suggestions-list li:last-child{
  border-bottom: none;
}

.user-pill{
  height:20px; 
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border-radius: 16px;
  cursor: pointer;
}

.user-pill img{
  height:100%;
}